<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<app-navigation></app-navigation>
<body>
    <div class="container-left">
        <mat-card></mat-card>
        <app-profile></app-profile>
    </div>
    <div class="container-right-top">
        <div class="progress-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Progress on Order#: 12345, Sports Keychain</mat-card-title>
                    <mat-card-subtitle>Designed by: Lovely Charm Designs</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <br>
                    <ul class="order-progress-tasks">
                        <li>Start Order</li>
                        <li>Preparing Order</li>
                        <li>Packing Order</li>
                        <li>Shipping Order</li>
                        <li>Order Shipped</li>
                        <li>Order Delivered</li>
                    </ul>
                    <ul class="order-progress-nums">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                    </ul>
                    <app-progress-bar></app-progress-bar>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="container-right-bttm">
    <app-progress-reactions-display></app-progress-reactions-display>
    </div>
</body>
</html>