<div class="card">
    <div class="card-body" style="width: 500px;">
        <h4>To Do List</h4>

        <div class="" todolist-container>
            List body
        </div>
        <div class="input-containter">
            <div class="card" style="padding: 5px">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter new task item"
                        aria-label="task-item-input-area" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-add"
                        (click)="onClick()">+</button>
                </div>
            </div>
        </div>
    </div>
</div>