<div class="peri-production-tasks">
    <section class="peri-production-section">
    <span class="peri-production-list-section">
        <mat-checkbox class="peri-production-check-list"
                    [checked]="allComplete"
                    [color]="task.color"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)">
        {{task.name}}
        </mat-checkbox>
    </span>
    <span class="task-list-subtask-section">
        <ul>
        <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{subtask.name}}
            </mat-checkbox>
        </li>
        </ul>
    </span>
    </section>
</div>

