:root {
    --bg-color:#769FB6;
    --secondary-bg-color: #ffeddf;
    --dark-blue: #003655;
    --text-color:#769FB6;;
    --light-blue: #95C0D8;
    --border-radius: 4px;
}
.profile-container {
    width: 800px;
    height: 750px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    position: relative;
    left: 1500px;
    bottom: 1890px;
}
.profile-background-container {
    width: 800px;
    height: 200px;
    background-color: var(--dark-blue);
}
mat-card.bio-container {
    width: 600px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
}
.profile-picture {
    background-color: var(--light-blue);
    width: 200px;
    height: 200px;
    border-radius: 50% ;
}
a.order-bttn {
    background-color: var(--light-blue);
    width: 100px;
    height: 50px;
    color: white;
    border: none;
    display: block;
    float: right;
    margin: 25px;
}