:root {
    --bg-color:#769FB6;
    --secondary-bg-color: #ffeddf;
    --dark-blue: #003655;
    --text-color:#769FB6;;
    --light-blue: #95C0D8;
    --border-radius: 4px;
}
.profile-container {
    width: 800px;
    height: 750px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    position: relative;
    left: 1500px;
    bottom: 1890px;
}