<div class="profile-container">
    <div class="profile-background-container">
        <mat-card class="bio-container">
            <div class="profile-hits-container">
               <!--- <ul class="profile-hits">
                    <li>0</li>
                    <li>0</li>
                    <li>80</li>
                </ul>
                <ul class="profile-hits">
                    <li>Orders</li>
                    <li>Photos</li>
                    <li>Reviews</li>
                </ul>-->
            </div>
            <button class="order-bttn">Order</button>
                <div class="bio-information">
                    <div class="designer-name">
                        Morgan Green
                    </div>
                    <div class="designer-location">
                        Charleston, SC
                    </div>
                    <div class="designer-business-name-and-title">
                        Rhyvannah Beauty - CEO, Nail Designer
                    </div>
            <hr>
                <div class="bio-bottom">
                    <p>Say whatever you want about yourself and your art.</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>